.env
.venv
env/
venv/
ENV/
.venv/
*.pem

.qodo

data/raw/*
data/raw/*.json
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
data/processed/*.joblib
data/processed/*.pkl

__pycache__/
*.py[cod]
*$py.class
*.pyc

documentation.txt

models/
models/*
data/processed/models/*.joblib
!data/processed/regional_disaster_index.geojson