.env
.venv
env/
venv/
ENV/
.venv/
*.pem

data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
data/processed/*.joblib
data/processed/*.pkl

__pycache__/
*.py[cod]
*$py.class

documentation.txt

disaster_model.joblib
label_encoders.joblib
models/
models/*
data/processed/models/*.joblib
data/models/*.joblib